<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE build-events
    PUBLIC "-//Enhydra Barracuda//DTD Barracuda Events 1.0//EN"
    "http://barracudamvc.org/Barracuda/dtds/BarracudaEventBuilder.dtd">

<build-events pkg="org.mulgara.webui.viewer.events">
  <req-events>
    <event name="LocalRequestEvent">
      <event name="ViewerScreenEvent">
        <event name="GetViewerScreen"/>
        <event name="ExecuteQuery"/>
      </event>
    </event>
  </req-events>
  <resp-events>
    <event name="LocalResponseEvent">
      <event name="RenderEvent">
        <event name="RenderViewerScreen"/>
      </event>
    </event>
  </resp-events>
</build-events>

