#arrowLeft, #navMain
				{ display:block }
#verticalLine 	{ left: 210px;}
#navPage		{ left: 210px;}
#arrowRight 	{ display:none; }
#content 		{ margin: 110px 10% 300px 203px; padding: 0px 3px 20px 0px; }
#footer 		{ left: 220px; }