
body { 
	background-color: #fff; 
	background-attachment: scroll;
	}
#logoback, #logo, #logomulgara, #footer, #valid, #navPage, #navMain, #navProject, #navGimmicks, #verticalLine, #arrowLeft, #arrowRight
	{ position: absolute; }
#validator	{ 
	margin-left:62px;;
	}
/* logo */
#logo	{
	left: 0px;
	top: 40px;
	width: 440px;
	height: 50px;
	background-image: url(/img-layout/logostoneIE.jpg);
	background-repeat: no-repeat;
	}
#logomulgara	{
	display: none;
	}	

#navProject	{
	left: 10px;
	top: 109px;
}	
#navMain	{
	left: 10px;
	top: 109px;
	border-top: 0;
	}
#navSite	{
	width: 141px;
	}
#navPage	{
	border-bottom: 0;
	left: 212px;
	height: 1.2em;
	}
#footer{
	bottom: auto;
	width: 300px;
	}
#verticalLine {
	margin-left: 0px;
	top: 8px;
	height: 421px;
	}

#navSite  li li, #navSite  ul, li.secindex	{
	margin: 0;
	border: 0;
	height: 0;
	padding: 0;
}


/*	
	
#navSite  li li {
	margin: 0px 0;
	padding: 0 0 0 3px;
	
	border-left: 4px solid #aaa;
	width: 129px;
	margin: 1px 0 2px 0;
	padding: 0 0 0 3px;
	font-size: x-small;
	}

#navSite li.secindex	{
	border-left: 0;
	margin: 0;
	font-size: small;
	}
#navSite li.secindex2	{
	border-left: 0;
	margin: 0;
	line-height: 70%;
	font-size: small;
	}
#navSite  ul.section, #navSite  ul.section li {
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 1.2em;
	}
	*/