@media screen
{
	
		/*	STYLES FROM THE OLD SITE */		


		
			.relatedheading 
			{
			font-weight: bold;	
			margin: 2em 0 0.7em 0;
			}
			.relateditem 
			{
					font-weight: bold; 
					margin: 0.4em 0 0 0;
					padding: 0 0 0 1em;
			}
			.backtotop 
			{
			font-size: x-small;
			}
			.listcontinue 
			{display: block;
			margin: 6pt 0 6pt 0;
			padding: 0 0 0 0;
			}
			.specialbold 
			{
			font-weight: bold;
			color: #800040;
			}

			.commandtext 
			{font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
			line-height: 0.95em;
			font-size: small;
			color: #000000;
			background-color: #EFEFEF;
			margin: 12pt 0 12pt 0;
			padding: 5pt 5pt 5pt 5pt;
			border-color: #7F7F7F;
			border-style: solid;
			border-width: thin;
			white-space: pre;
			}
			.superscript 
			{display: inline;
			font-size: 6pt;
			vertical-align: super;
			padding: 0 0 0 0;
			}
			ol
			{list-style-type: Decimal;
			list-style-position: outside;
			margin: 6pt 0 0 0;
			}
			.listcontinuecommandtext 
			{font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
			line-height: 0.95em;
			font-size: small;
			background-color: #EFEFEF;
			margin: 6pt 0 6pt 0;
			padding: 5px 5px 5px 5px;
			border-color: #7F7F7F;
			border-style: solid;
			border-width: thin;
			white-space: pre;
			}
			.listcontinue 
			{display: block;
			margin: 6pt 6pt 6pt 0;
			padding: 0 0 0 0;
			}
			.note 
			{
			margin: 16pt 0 16pt 0;
			padding: 4pt 4pt 4pt 4pt;
			border-color: #004080;
			border-top-style: solid;
			border-top-width: 0.3mm;
			border-bottom-style: solid;
			border-bottom-width: 0.3mm;
			}
			.listnote 
			{display: block;
			margin: 6pt 6pt 6pt 0;
			padding: 4pt 4pt 4pt 4pt;
			border-color: #004080;
			border-top-style: solid;
			border-top-width: 0.3mm;
			border-bottom-style: solid;
			border-bottom-width: 0.3mm;
			width: 90%;
			height: auto;
			}
			.tableheading 
			{
			font-weight: bold;
			font-size: 11pt;
			color: #0F0F0F;
			background-color: #DFDFDF;
			margin-top: 0 -2pt 2pt  -2pt;
			padding: 6pt 6pt 6pt 6pt;
			border-color: #FFFFFF;
			border-right-style: solid;
			border-right-width: 1px;
			}
			.tablebodytext 
			{
			margin: 3pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h1
			{
			font-size: 20pt;
			color: #0F0F0F;
			margin: 6pt 0 3pt 0;
			padding: 0 0 0 0;
			float: none;
			}
			h2
			{
			font-size: 18pt;
			color: #0F0F0F;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h3
			{
			font-size: 16pt;
			color: #0F0F0F;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h4
			{
			font-size: 14pt;
			color: #0F0F0F;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h5
			{
			font-size: 12pt;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h6
			{
			font-size: 10pt;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			.indexatoz 
			{
			font-weight: bold;
			font-size: 10pt;
			color: #0F0F0F;
			background-color: #CFCFCF;
			margin: 12pt 0 0 0;
			padding: 6pt 6pt 6pt 6pt;
			}

			.indent 
			{
			margin: 12pt 0 3pt 1.1cm;
			padding: 0 0 0 0;
			text-indent: 4em;
			}
			.indentcommandtext 
			{font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
			line-height: 0.95em;
			font-size: small;
			background-color: #EFEFEF;
			margin: 12pt 0 12pt 1.1cm;
			padding: 5pt 5pt 5pt 5pt;
			border-color: #7F7F7F;
			border-style: solid;
			border-width: thin;
			text-indent: 4em;
			white-space: pre;
			}
			.indexanchor
			{
				margin-top: 12px;
			}
			.indexlist
			{
				margin-top: 4px;
			}
		
		
	/* NEW STYLES (REMAKE DECEMBER 2006) */

		h3			{ margin-bottom: -2px;}
		h4			{ margin-bottom: -5px;}			
		#navSite a	{
			display:block;
			}			
		#mulgara	{
			font-weight: bold;
			font-size: medium;
			color: #333;
			padding: 0;
			}
		#history	{
			padding-top: 2em;
			font-size: xx-small;
			font-style: italic;
			}		
		.anchor		{ 
			position: relative;
			}
		.how		{
			position: relative;
			font-size: x-small;
			margin-left: 20px;
			}
	 	ul			{
			list-style-type: circle;
		/*	list-style-image: url(/img-layout/dash.gif); */
			}
		#navSite ul {
			position: relative;
			left: 10px;
			margin: 0 10px 0 0;
			padding: 0;
			}
		#navSite li	{
			position: relative;
			left: 2px;
			margin: 0 -4px 0 0;
			padding: 0;
			list-style-image: url(/img-layout/dash.gif);
		/*	list-style-position:inside;	*/
			font-weight: normal;
			}
		#navSite a	{
			font-weight: normal;
			}
		#navSite li.secindex, #navSite li.secindex2 {
			list-style-type: none;
			list-style-image: none;
			position: relative;
			left: 0px;
			}	
			
		#navSite li.secindex a, .ABC	{
			font-weight: bold;
			}
			
		li.secindex a	{
			font-weight: bold;
			list-style-type: none;
			list-style-image: none;
			}

		#content li.secindex	{
			margin:  2em 0 0.4em 0;
			list-style-type: none;
			list-style-image: none;
			font-size: large;
			}
		#content li.secindex2	{
			margin:  0.6em 0 0.4em 0;
			list-style-type: none;
			list-style-image: none;
			font-size: large;
			}
			
		#navSite .toc 		{
			display: none;
			}
		div.navtocseperator	{
			padding: 4px;
		}

		form  {
			margin-bottom : 100px;
			}
		fieldset {
			padding : 0;
			border : 1px solid transparent;
			background-color: transparent;
			color: #000;
			font-weight: bold;
			opacity: 0.7;
			}
			
		


/* ******************************* */
/*	EVEN NEWER STYLES - APRIL 2007 */
/* ******************************* */


	body {
		font-size: small;
		font-family: Verdana, Geneva, "MS Trebuchet", sans-serif;
		}

	/* positioning */		
	/* 	#logoback, #logo, #footer, #navPage, #navSite, #navProject, #navGimmicks, #verticalLine, #arrowLeft, #arrowRight	
							{ position: absolute; }	for old browsers */
	#logoback, #logo, #logomulgara, #footer, #navPage, #navMain, #navProject, #navGimmicks, #verticalLine, #arrowLeft, #arrowRight
							{ position: fixed; }
	#content 				{ position: relative; }	/* interestingly "absolute" in firefox 
										               causes problems with background and margins */

	/* colors */
	#verticalLine			{ border-left: 1px solid #FF5E00; }
	#navSite				{ border-top: 1px solid #FF5E00;
							  border-right: 11px solid #FFC77C; 
							  background-color: #FCC8B3; }
	#navPage				{ border-bottom: 1px solid #FF5E00;
							  border-left: 11px solid #FFC77C; /* fa5 */
							  background-color: #FCC8B3; } /* faafbf FFE2DF F5D1BC*/
	#content				{ border: 1px solid #D4C2B6;
							  border-left: 10px solid #D4C2B6; /* FF5E00 */
							  background-color: #eee;
							  opacity: 0.80; }
	body 					{ background-color: #fff; 
						      background-image: url(/img-layout/backstone.jpg);
							  background-repeat: no-repeat;
							  background-attachment: fixed;}

	/* depth */
	#footer					{ z-index: 1; }
	#logo					{ z-index: 2; }
	#content				{ z-index: 3; }
	#logomulgara			{ z-index: 4; }
	#navProject				{ z-index: 5; }
	#navSite				{ z-index: 6; }
	#navPage				{ z-index: 7; }
	#navGimmicks			{ z-index: 8; }

	/* generalities*/
	a						{ text-decoration: none; }
	a:visited 				{ color: #8E0047 ; }
	a:hover, a:visited:hover { color: #D32D2E ; }
	img 					{ border: 0; }

	/* logo */
	#logo	{
		left: 0px;
		top: 40px;
		width: 440px;
		height: 50px;
		background-image: url(/img-layout/logostone.png);
		background-repeat: no-repeat;
		}
	#logomulgara	{
		left: 61px;
		top: 40px;
		width: 150px;
		height: 50px;
	    background-image: url(/img-layout/logomulgara.png);
		background-repeat: no-repeat;
		}

	/* navigation */
	#navProject  {
		margin: 30px 0 0 0;
		}
	#navProject img {
		padding: 0;
		}
	#navMain 	{
		width: 141px;
		margin: 38px 0 0 59px;
		padding: 0px 0px 0px 2px;
		overflow: hidden;
		}
	#navSite	{
		width: 131px;
		}
	#navMore 	{
		width: 131px;
		margin: 30px 0 0 0;
		}
	#navMore a 	{
		padding-left: 0;
	}
	#navPage {
		left: 160px;
		top: 8px;
		height: 1em;
		padding: 0 12px 3px 1px;
		overflow: hidden;
		}	
	#navGimmicks {
		left: 0;
		top: 0;
		height: 100%;
		}
	#verticalLine {
		left: 160px;
		top: 8px;
		bottom: 32px;
		}
	#arrowLeft {
		left: 190px;
		bottom: 33px;
		width: 20px;
		height: 39px;
		}
	#arrowRight {
		left: 61px;
		bottom: 33px;
		width: 20px;
		height: 39px;
		}

	/* main column */
	#content {
		min-width: 300px;
		/*	margin: 110px 10% 300px 153px;
		padding: 0px 3px 20px 0px;
	*/	}
	#footer {
		bottom: 30px;
		min-width: 300px;
		max-width: 500px;
		padding: 0px 2px;
		margin: 0 15% 0 0;
		font-size: 80%;
		opacity: 0.4;
		}
	#valid	{
		margin: 14px 0 0px;
	}

	#sponsors {	
		position: relative;
		float: right;
		width: 160px;
		margin: 5px 0 20px 18px;
		padding: 2px 10px 2px 12px;
		border-left: 1px solid #999;
		}	
	#sponsors a img 	{
		margin-bottom: 20px;
		display: block;
		}
	#sponsors a img#kadomo 	{
		margin: -8px 0 14px 0;
		}

	p#mulgara {
		margin-top: 2px;
		font-size: medium;
		font-weight: bold;
		}
	#top { 
		position: absolute; top: 0px;
		}
}


@media print
{
		#logo, #backTop1, #backTop2, #siteNaviTopBack, #siteNaviTop, #leftCol, #pageNaviBack, #pageNavi, #sfx	{
			display: none;
		}

		#footer	{
			margin-top: 100px;
			font-size: smaller;
		}
			



}