
body { 
	background-color: #fff; 
	background-attachment: scroll;
	}
#logoback, #logo, #logomulgara, #footer, #valid, #navPage, #navMain, #navProject, #navGimmicks, #verticalLine, #arrowLeft, #arrowRight
	{ position: absolute; }

/* logo */
#logo	{
	left: 0px;
	top: 40px;
	width: 440px;
	height: 50px;
	background-image: url(/img-layout/logostoneIE.jpg);
	background-repeat: no-repeat;
	}
#logomulgara	{
	display: none;
	}	

#navProject	{
	left: 10px;
	top: 87px;
}	
#navMain	{
	left: 10px;
	top: 87px;
	border-top: 0;
	}
#navSite	{
	width: 141px;
	}
#navPage	{
	border-bottom: 0;
	left: 212px;
	}
#footer, #valid {
	bottom: auto;
	width: 300px;
	}
#verticalLine {
	margin-left: 12px;
	top: 8px;
	height: 400px;
	}


#sponsors {
	}