@media screen
{
	
		/*	STYLES FROM THE OLD SITE */		


			a:hover {
			color: red;
			}

			body
			{font-family: "Verdana", verdana, arial, helvetica, sans-serif;
			font-size: 10pt;
			}
			.relatedheading 
			{
			font-weight: bold;	
			margin: 2em 0 0.7em 0;
			}
			.relateditem 
			{
					font-weight: bold; 
					margin: 0.4em 0 0 0;
					padding: 0 0 0 1em;
			}
			.backtotop 
			{
			font-size: x-small;
			}
			.listcontinue 
			{display: block;
			margin: 6pt 0 6pt 0;
			padding: 0 0 0 0;
			}
			.specialbold 
			{
			font-weight: bold;
			color: #800040;
			}

			.commandtext 
			{font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
			line-height: 0.95em;
			font-size: small;
			color: #000000;
			background-color: #EFEFEF;
			margin: 12pt 0 12pt 0;
			padding: 5pt 5pt 5pt 5pt;
			border-color: #7F7F7F;
			border-style: solid;
			border-width: thin;
			white-space: pre;
			}
			.superscript 
			{display: inline;
			font-size: 6pt;
			vertical-align: super;
			padding: 0 0 0 0;
			}
			ol
			{list-style-type: Decimal;
			list-style-position: outside;
			margin: 6pt 0 0 0;
			}
			.listcontinuecommandtext 
			{font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
			line-height: 0.95em;
			font-size: small;
			background-color: #EFEFEF;
			margin: 6pt 0 6pt 0;
			padding: 5px 5px 5px 5px;
			border-color: #7F7F7F;
			border-style: solid;
			border-width: thin;
			white-space: pre;
			}
			.listcontinue 
			{display: block;
			margin: 6pt 6pt 6pt 0;
			padding: 0 0 0 0;
			}
			.note 
			{
			margin: 16pt 0 16pt 0;
			padding: 4pt 4pt 4pt 4pt;
			border-color: #004080;
			border-top-style: solid;
			border-top-width: 0.3mm;
			border-bottom-style: solid;
			border-bottom-width: 0.3mm;
			}
			.listnote 
			{display: block;
			margin: 6pt 6pt 6pt 0;
			padding: 4pt 4pt 4pt 4pt;
			border-color: #004080;
			border-top-style: solid;
			border-top-width: 0.3mm;
			border-bottom-style: solid;
			border-bottom-width: 0.3mm;
			width: 90%;
			height: auto;
			}
			.tableheading 
			{
			font-weight: bold;
			font-size: 11pt;
			color: #0F0F0F;
			background-color: #DFDFDF;
			margin-top: 0 -2pt 2pt  -2pt;
			padding: 6pt 6pt 6pt 6pt;
			border-color: #FFFFFF;
			border-right-style: solid;
			border-right-width: 1px;
			}
			.tablebodytext 
			{
			margin: 3pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h1
			{
			font-size: 20pt;
			color: #0F0F0F;
			margin: 6pt 0 3pt 0;
			padding: 0 0 0 0;
			float: none;
			}
			h2
			{
			font-size: 18pt;
			color: #0F0F0F;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h3
			{
			font-size: 16pt;
			color: #0F0F0F;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h4
			{
			font-size: 14pt;
			color: #0F0F0F;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h5
			{
			font-size: 12pt;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			h6
			{
			font-size: 10pt;
			margin: 12pt 0 3pt 0;
			padding: 0 0 0 0;
			}
			.indexatoz 
			{
			font-weight: bold;
			font-size: 10pt;
			color: #0F0F0F;
			background-color: #CFCFCF;
			margin: 12pt 0 0 0;
			padding: 6pt 6pt 6pt 6pt;
			}

			.indent 
			{
			margin: 12pt 0 3pt 1.1cm;
			padding: 0 0 0 0;
			text-indent: 4em;
			}
			.indentcommandtext 
			{font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
			line-height: 0.95em;
			font-size: small;
			background-color: #EFEFEF;
			margin: 12pt 0 12pt 1.1cm;
			padding: 5pt 5pt 5pt 5pt;
			border-color: #7F7F7F;
			border-style: solid;
			border-width: thin;
			text-indent: 4em;
			white-space: pre;
			}
			.indexanchor
			{
				margin-top: 12px;
			}
			.indexlist
			{
				margin-top: 4px;
			}
		
		
	/* NEW STYLES (REMAKE DECEMERE 2006) */
		
		
		body		{
			padding: 0;
			margin: 0; 
			background-color: #888;
			font-family: "Verdana", verdana, arial, helvetica, sans-serif;
			font-size: small;
			}
		a			{ text-decoration: none; }
		img			{ border: 0; }	
		h3			{ margin-bottom: -2px;}
		h4			{ margin-bottom: -5px;}
			
		#logo	{
			z-index: 100;
			left: 12px;
			top: 8px;
			width: 800px;
			height: 56px;
			overflow: hidden; 
			}
		#backTop1	{
			z-index: 50;
			top: -16px;
			height: 100px;
			width: 100%;
			opacity: 0.7;
			-moz-opacity: 0.7; /* opacity legacy */
			background-image: url(../img-layout/mbackTop.jpg);
			}
			
		#backTop2	{
			z-index: 1;
			left: -50;
			top: -16px;
			height: 100px;
			width: 1280px;
			background-image: url(../img-layout/mbackTop.jpg);
			}
			
		#pageNaviBack	{
			z-index: 70;
			left: 22%;
			right: 3%;
			top: 60px;
			height: 24px;
			padding: 0 2% 0 3%;
			}
		#pageNavi		{
			z-index: 71;
			left: 22%;
			top: 60px;
			right: 3%;
			padding: 0 2% 0 3%;
			font-weight: bold; 
			color: #ddd;
			background-image: url(../img-layout/black-55.png);
			line-height: 2em;
			min-height: 24px;
			}
		#pageNavi a, #siteNaviTop a, #siteNavi a		{
			color: #fff;
			}
		#pageNavi a:visited, #siteNaviTop a:visited, #siteNavi a:visited	{
			color: #aaa;
			}
		#pageNavi a:hover, #siteNaviTop a:hover, #siteNavi a:hover	{
			color: red;
			}
		#siteNavi a		{
			display:block;
			}
			
		#leftCol	{
			left: 2%;
			top: 84px;
			width: 180px;
			padding: 0;
			}
			
		#mainBack		{
			z-index: 41;
			position: absolute;
			left: 22%;
			top: 83px;
			right: 3%;
			margin-bottom: 100px;
			}
		#main		{		
			padding: 30px 2% 3em 30px;
			background-image: url(../img-layout/white-90.png);
			position: relative;
			z-index: 42;
			margin-bottom: 20em;
	/*		position: absolute;
			left: 22%;
			top: 83px;
			right: 3%;
			padding: 30px 2% 10em 30px;	*/
			}
			
		#mulgara	{
			font-weight: bold;
			font-size: medium;
			color: #333;
			padding: 0;
			}
		#history	{
			padding-top: 2em;
			font-size: xx-small;
			font-style: italic;
			}		
		.anchor		{ 
			position: relative;
			}
		.how		{
			position: relative;
			font-size: x-small;
			margin-left: 20px;
			}
			
		#siteNaviTop		{
			z-index: 63;
			left: 2%;
			top: 60px;
			line-height: 2em;
			min-height: 24px;
			width: 170px;
			padding: 0 0 0 10px;
			font-weight: bold;
			color: #ddd;
			background-image: url(../img-layout/black-55.png);
			}

		#siteNavi			{
			z-index: 61;
			padding: 12px 10px 16px 0px;
			width: 170px;
			color: #ddd;
			background-image: url(../img-layout/black-50.png);
			}
		 ul		{
			list-style-type: circle;
		/*	list-style-image: url(/img-layout/dash.gif); */
			}
		#siteNavi ul {
			position: relative;
			left: 10px;
			margin: 0 10px 0 0;
			padding: 0;
			}
		#siteNavi li	{
			position: relative;
			left: 2px;
			margin: 0 -4px 0 0;
			padding: 0;
			list-style-image: url(/img-layout/dash.gif);
		/*	list-style-position:inside;	*/
			font-weight: normal;
			}
		#siteNavi a	{
			font-weight: normal;
			}
		#siteNavi li.secindex, #siteNavi li.secindex2 {
			list-style-type: none;
			list-style-image: none;
			position: relative;
			left: 0px;
			}	
			
		#siteNavi li.secindex a, .ABC	{
			font-weight: bold;
			}
			
		li.secindex a	{
			font-weight: bold;
			list-style-type: none;
			list-style-image: none;
			}

		#main li.secindex	{
			margin:  2em 0 0.4em 0;
			list-style-type: none;
			list-style-image: none;
			font-size: large;
			}
		#main li.secindex2	{
			margin:  0.6em 0 0.4em 0;
			list-style-type: none;
			list-style-image: none;
			font-size: large;
			}
			
		#siteNavi .toc 		{
			display: none;
			}
			
		#sponsors	{
        	display:box;
			z-index: 30;
			left: 2%;
			padding: 12px 10px 12px 10px;
			margin-top: 3em;
			width: 160px;
			background-color: #777;
			}
		#support	{
			color: #aaa;
			padding: 0 10px 0 0;
			font-size: x-small;
			}
		#sponsors img	{
			margin-bottom: 14px;
			}
			
		#creator	{
			z-index: 33;
			bottom: 10px;
			left: 2%;
			padding: 0 0 0 10px;
			width: 180px;
			font-size: xx-small;
			}
		#creator a	{	
			font-style: italic;
			}
		
		#sfx	{
			z-index: 110;
			right: 3%;
			top: 0px;
			height:20px;
			padding: 0; 
			margin: 0;
			color: #000;
			background-color: transparent;
			}	
		form  {
			margin-bottom : 100px;
			}
		fieldset {
			padding : 0;
			border : 1px solid transparent;
			background-color: transparent;
			color: #000;
			font-weight: bold;
			opacity: 0.7;
			}
		
		
		#footer	{
			margin-top: 60px;
			padding: 30px 2% 0 30px;
			font-size: xx-small;
			z-index: 1;
			position: fixed;
			bottom: 20px;
			left: 22%;
			right: 3%;
			background-color: #888;
			opacity: 0.8;
			-moz-opacity: 0.8; /* opacity legacy */
		}	
			
		div.navtocseperator	{
			padding: 4px;
		}
		

	
/*	STYLESWITCHER SPECIFIC STYLINGS */
	
		/* orthodox version */
		 
		#logo						{ position: absolute;  background-image: url(/img-layout/logo856s.png) ; }
		#backTop1					{ position: absolute; }
		#backTop2					{ position: absolute; }
		#pageNaviBack				{ position: absolute; }
		#pageNavi 					{ position: absolute; }
		#siteNaviTop 				{ position: absolute; }
		#leftCol					{ position: absolute; }
		#creator					{ position: absolute; }
		#sfx 						{ position: absolute; }
		.anchor						{ top: 0; }
		
		/* cool version */
		
		body.cool #logo				{ position: fixed;  background-image: url(/img-layout/logo856s.png) ; }
		body.cool #backTop1			{ position: fixed; }
		body.cool #backTop2			{ position: fixed; }
		body.cool #pageNaviBack		{ position: fixed; }
		body.cool #pageNavi 		{ position: fixed; }
		body.cool #siteNaviTop 		{ position: fixed; }
		body.cool #leftCol			{ position: fixed; }
		body.cool #creator			{ position: fixed; }
		body.cool #sfx 				{ position: fixed; }
		body.cool .anchor			{ top: -80px; }
		body.cool #sponsors			{ height: 2000px; }	
		
		/* white version */
		body.n3 #logogray			{ position: fixed; }
		body.n3 #backTop1			{ position: fixed; }
		body.n3 #backTop2			{ position: fixed; }
		body.n3 #pageNaviBack		{ position: fixed; }
		body.n3 #pageNavi 			{ position: fixed; }
		body.n3 #siteNaviTop 		{ position: fixed; }
		body.n3 #leftCol			{ position: fixed; }
		body.n3 #creator			{ position: fixed; }
		body.n3 #sfx 				{ position: fixed; }
		body.n3 .anchor				{ top: -80px; }
		body.n3 #sponsors			{ height: 2000px; }
		
		body.n3 #backTop1			{ display: none; }
		body.n3 #backTop2			{ display: none; }
		body.n3 #logo				{ position: fixed; top: 12px; background-image: url(/img-layout/logo856deserted.png) ; }
	/*	*/	
		body.n3 #pageNavi			{ top: 66px;}
		body.n3 #leftCol			{ top: 86px; }
		body.n3 #siteNaviTop		{ top: 66px; }
		body.n3 , body.n3 #footer	{ background-color: #fff; }
		body.n3 #main				{ padding: 40px 2% 4em 30px; border-left: 1px solid #ccc; }
		
		body.n3 #siteNavi, body.n3 #siteNaviTop	
									{ background-image: none; }
		body.n3 #mainBack			{ top: 60px;  background-image: url(/img-layout/white-40.png); }
		body.n3 #pageNavi			{ background-image: url(/img-layout/white-80.png);
			 						border-top: 1px solid #ccc;
									border-bottom: 1px solid #ccc;
									border-left: 1px solid #fff; }
		body.n3 #sfx				{ color: #555; }
				
		body.n3 #pageNavi a, body.n3 #siteNaviTop a, body.n3 #siteNavi a		{
									color: blue; }
		body.n3 #pageNavi a:visited, body.n3 #siteNaviTop a:visited, body.n3 #siteNavi a:visited	{
									color: darkblue; }
		
		
}


@media print
{
		#logo, #backTop1, #backTop2, #siteNaviTopBack, #siteNaviTop, #leftCol, #pageNaviBack, #pageNavi, #sfx	{
			display: none;
		}

		#footer	{
			margin-top: 100px;
			font-size: smaller;
		}
			



}