@media screen
{

	body {
		font-size: small;
		font-family: Verdana, Geneva, "MS Trebuchet", sans-serif;
		}
	h1	{ font-size: 24px; margin-top: 4px; padding-top: 0;}
	h2	{ font-size: 20px; margin-top: 4px; padding-top: 0;}
	h3	{ font-size: 16px; margin-top: 4px; padding-top: 0;margin-bottom: -2px; }
	h4	{ font-size: 14px; margin-top: 4px; padding-top: 0;margin-bottom: -5px; }
	h5	{ font-size: 12px; margin-top: 4px; padding-top: 0;}
	h6	{ font-size: 10px; margin-top: 4px; padding-top: 0;}

	/* positioning */		
	#logoback, #logo, #logomulgara, #footer, #validator, #navPage, #navMain, #navProject, #navGimmicks, #verticalLine, #arrowLeft, #arrowRight
							{ position: fixed; }
	#content 				{ position: relative; }	/* interestingly "absolute" in firefox 
										               causes problems with background and margins */

	/* colors */
	#verticalLine			{ border-left: 1px solid #FF5E00; }
	#navSite				{ border-top: 1px solid #FF5E00;
							  border-right: 11px solid #fdcca1; /*  fccfa7 FFC77C */
							  background-color: #f5cfc0; }
	#navPage				{ border-bottom: 1px solid #FF5E00;
							  border-left: 11px solid #fdcca1; /* fa5 */
							  background-color: #f5cfc0; } /* FCC8B3 faafbf FFE2DF F5D1BC*/
	#content				{ border: 1px solid #D4C2B6;
							  border-left: 10px solid #D4C2B6; /* FF5E00 */
							  background-color: #eee;
							  opacity: 0.80; }
	body 					{ background-color: #fff; 
						      background-image: url(/img-layout/backstone.jpg);
							  background-repeat: no-repeat;
							  background-attachment: fixed;}

	/* depth */
	#validator				{ z-index: 1; }
	#footer					{ z-index: 2; }
	#logo					{ z-index: 3; }
	#content				{ z-index: 4; }
	#logomulgara			{ z-index: 5; }
	#navProject				{ z-index: 6; }
	#navMain				{ z-index: 7; }
	#navPage				{ z-index: 8; }
	#navGimmicks			{ z-index: 9; }

	/* generalities*/
	a						{ text-decoration: none; }
	a:visited 				{ color: #000077 ; }
	a:hover, a:visited:hover { color: #D32D2E ; }
	img 					{ border: 0; }

	/* logo */
	#logo	{
		left: 0px;
		top: 40px;
		width: 440px;
		height: 50px;
		background-image: url(/img-layout/logostone.png);
		background-repeat: no-repeat;
		}
	#logomulgara	{
		left: 61px;
		top: 40px;
		width: 150px;
		height: 50px;
	    background-image: url(/img-layout/logomulgara.png);
		background-repeat: no-repeat;
		}

	/* navigation positioning and boxes */
	#navProject  {
		margin: -0px 0 0 0;
		}
	#navProject img {
		padding: 0;
		}
	#navMain 	{
		width: 141px;
		margin: 1px 0 0 59px;
		padding: 0px 0px 0px 2px;
		overflow: hidden;
		}
	#navSite	{
		width: 131px;
		}
	#navMore 	{
		width: 131px;
		margin: 30px 0 0 0;
		}
	#navMore a 	{
		padding-left: 0;
		}
	#navPage 	{
		left: 160px;
		top: 8px;
		height: 1em;
		padding: 0 12px 3px 1px;
		overflow: hidden;
		}	
	
	/*  navSite list issues */
	#navSite a	{
		display:block;
		}	
	#navSite ul {
		left: 0px;
		margin: 0 10px 0 0;
		padding: 0;
		}
	#navSite li	{
		left: 0;
		margin: 0 -4px 0 0;
		padding: 0;
		list-style-image: none;
		list-style-type: none;
		font-weight: normal;
		}
	#navSite li.secindex a, .ABC	{
		font-weight: bold;
		border-left: 0;
		}			
	#navSite  li li {
		border-left: 4px solid #aaa;
		margin: 1px 0;
		padding: 0 0 0 3px;
		line-height: 90%;
		font-size: small;
		}
	#navSite li.secindex	{
		border-left: 0;
		margin-left: 0px;
		margin: 2px 0;
		line-height: 110%;
		font-size: small;
		}
	#navSite .toc 		{
		display: none;
		}
	li.secindex a	{
		font-weight: bold;
		list-style-type: none;
		list-style-image: none;
		}
	li.ulcontainer	{
		list-style-type: none;
		list-style-image: none;
		}
	#content li.secindex	{
		margin:  2em 0 0.4em 0;
		list-style-type: none;
		font-size: large;
		}
	#content li.secindex2	{
		margin:  0.6em 0 0.4em 0;
		list-style-type: none;
		font-size: large;
		}
	.navtocseperator	{
		height: 6px;
		}
		
	/* nav in out arrows */
	#navGimmicks {
		left: 0;
		top: 0;
		height: 100%;
		}
	#verticalLine {
		left: 160px;
		top: 8px;
		bottom: 42px;
		}
	#arrowLeft 	{
		left: 190px;
		bottom: 43px;
		width: 20px;
		height: 39px;
		}
	#arrowRight {
		left: 61px;
		bottom: 43px;
		width: 20px;
		height: 39px;
		}
		
	/* innerpage navigation */
	#top { 
		position: absolute; top: 0px;
		}
	#textonlymode {
		display: none;
		}
	.anchor		{ 
		position: relative;
		height: 30px;
		}
		
	/* main column */
	#content {
		min-width: 300px;
		margin-top: 0;
		padding-top: 0;
		}
	#footer {
		bottom: 4px;
		padding: 0;
		margin: 0;
		min-width: 300px;
		font-size: x-small;
		opacity: 0.4;
		}
	#validator	{
		bottom: 4px;
		left: 72px;
		opacity: 0.3;
		}

		
	/* specialties */
	.ABC		{ 				/* backofbook.html */
		margin-top: 6px;
		}
		
		
	/*	STYLES FROM THE OLD SITE */		
	.relatedheading {
		font-weight: bold;	
		margin: 2em 0 0.7em 0;
		}
	.relateditem {
		font-weight: bold; 
		margin: 0.4em 0 0 0;
		padding: 0 0 0 1em;
		}
	.backtotop {
		font-size: x-small;
		}
	.specialbold  {
		font-weight: bold;	/* color: #800040; */
		}
	.commandtext, .listcontinuecommandtext , .indentcommandtext  {
		font-family: "Courier New", courier, verdana, arial, helvetica, sans-serif;
		line-height: 0.95em;
		font-size: small;
		color: #000000;
		background-color: #EFEFEF;
		margin: 12px 0;
		padding: 5px;
		border-color: #7F7F7F;
		border-style: solid;
		border-width: thin;
		white-space: pre;
		}
	.listcontinuecommandtext {
		margin: 6px 0;
		}
	.indentcommandtext {
		text-indent: 4em;
		}
	.listcontinue  {
		display: block;
		margin: 6px 0;
		padding: 0;
		}
	.superscript	{
		display: inline;
		font-size: 6px;
		vertical-align: super;
		padding: 0 ;
		}
	ol	{
		list-style-type: Decimal;
		list-style-position: outside;
		margin: 6px 0 0 0;
		}
	.note {
		margin: 16px 0;
		padding: 4px;
		border-color: #004080;
		border-style: solid none;
		border-width: 1px 0;
		}
	.listnote {
		display: block;
		margin: 6pt 6pt 6pt 0;
		padding: 4px;
		border-color: #004080;
		border-style: solid none;
		border-width: 1px 0;
		width: 90%;
		height: auto;
		}
	.tableheading {
		font-weight: bold;
		color: #0F0F0F;
		background-color: #DFDFDF;
		margin-top: 0;
		padding: 6px;
		border-color: #FFFFFF;
		border-right-style: solid;
		border-right-width: 1px;
		}	
	.indexatoz 	{
		font-weight: bold;
		color: #0F0F0F;
		background-color: #CFCFCF;
		margin: 12px 0 0 0;
		padding: 6px;
		}
	.indent 	{
		margin: 12px 0px 3px 20px;
		padding: 0;
		text-indent: 4em;
		}
	.indexlist	{
		margin-top: 4px;
		}




}


@media print
{
		#logo, #backTop1, #backTop2, #siteNaviTopBack, #siteNaviTop, #leftCol, #pageNaviBack, #pageNavi, #sfx	{
			display: none;
		}

		#footer	{
			margin-top: 100px;
			font-size: smaller;
		}
			



}